[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
torch = "==1.2.0"
gpytorch = "*"
matplotlib = "*"
signatory = {path = "./bin/signatory-1.1.6-cp37-cp37m-linux_x86_64.whl"}
uea-ucr-datasets = "*"
sklearn = "*"
tqdm = "*"
pandas = "*"
sacred = "*"
requests = "*"

[requires]
python_version = "3.7"
