[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "==1.2.0"
gpytorch = "==1.0.1"
matplotlib = "==3.2.1"
signatory = "==1.1.6.1.2.0"
uea-ucr-datasets = "==0.1.2"
sklearn = "==0.0"
tqdm = "==4.45.0"
pandas = "==1.0.3"
sacred = "==0.8.1"
requests = "==2.23.0"
scikit-optimize = "==0.7.4"
tabulate = "==0.8.7"

[requires]
python_version = "3.7"
